<h1 class="sr-only">Log in</h1>

<%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
  <div class="mb-6">
    <%= f.label :email, class: 'sr-only' %>
    <%= f.email_field :email,
      placeholder: 'email',
      autocomplete: 'email',
      class: 'w-full border-b-2 border-primary',
      autofocus: true
    %>
  </div>

  <div class="mb-12">
    <%= f.label :password, class: 'sr-only' %>
    <%= f.password_field :password,
      autocomplete: 'current-password',
      placeholder: 'password',
      class: 'w-full border-b-2 border-primary'
    %>
  </div>

  <div class="mb-10">
    <%= f.submit 'Log in',
      class: 'w-full px-4 py-1 bg-primary text-white cursor-pointer whitespace-normal'
    %>
  </div>

  <div class="text-center text-xs text-primary">
    <%= render 'devise/shared/links' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <%# always remember logins %>
    <%= f.hidden_field :remember_me, :value => true %>
  <% end %>
<% end %>
